.subtitle_404 {
    font-size: 25px; 
    color: black;
    font-weight: 400;
}

.botao404 {
    text-align: center;
    padding: 35px;
}

.menu_principal_link {
  background: transparent;
  border: 1px solid #fff;
  outline: none;
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  transition: transform 0.5s;
  border-radius: 15px;
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.menu_principal_link::before {
  padding-right: 10px;
  transition: transform 0.5s;
}

.menu_principal_link:hover {
  transform: scale(1.1);
}

.menu_principal_link:hover::before {
  transform: translateX(10px);
}