@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*
    responsividade
    320px — 480px: dispositivos móveis
    481px — 768px: iPads, tablets
    769px — 1024px: telas pequenas, laptops
    1025px — 1200px: desktops, telas grandes
    1201px e acima —  telas muito grandes, TVs
*/

@media (min-width: 1025px) {}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

/*skip to main content button - https://www.freecodecamp.org/news/how-to-add-skip-to-main-content-links-to-a-website/#:~:text=The%20skip%2Dto%2Dmain%2Dcontent%20link%20is%20an%20ordinary,content%20on%20the%20web%20page.*/
.skip-to-main-content-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  color: white;
  background: rgba(0, 0, 0, 0.4)
}

.skip-to-main-content-link:focus {
  left: 0;
  transform: translateX(20%);
  opacity: 1;
}

/* header and banner */

.menucell {
  display: none;
}

#main {
  background-image: url("https://res.cloudinary.com/dlsuopwkn/image/upload/v1697428363/samples/animals/banner_home.png");
}

#pag_erro {
  background-image: url("https://res.cloudinary.com/dlsuopwkn/image/upload/v1698541964/samples/animals/background_erro404.png");
}

/* banner texto título efeito https://www.youtube.com/watch?v=rc50owRPdUI&pp=ygUVc3R5bGUgY3NzIHRleHQgYmFubmVy */

.style_header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  /* vai deixar a imagem cobrindo a tela toda*/
  background-position: center;
  padding: 0 8%;
  position: relative;
}

.container_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  z-index: 2;
  position: fixed;
  margin: auto;
}

header .buttons_header {
  display: flex;
  list-style: none;
}

header .logo_img {
  width: 80px;
  height: 80px;
  margin-top: 6px;
}

.buttons_header li a {
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}

.buttons_header li a::after {
  content: "";
  bottom: 0;
  position: absolute;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #03ab99;
  transition: 0.2s;
}

.buttons_header li a:hover::after {
  left: 0;
  width: 100%;
}

/* teste animação título */

.title_black {
  font-size: 198px;
  opacity: 0;
  transform: translateY(100%);
  animation: slideMain 3s forwards;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #000;
  text-stroke: 1px #000;
  user-select: none;

}

@keyframes slideMain {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* animação norway e Tromso*/

.title_tromso {
  font-size: 178px;
  opacity: 0;
  transform: translateY(100%);
  animation: slideIn 3s forwards;
  text-align: center;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  user-select: none;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* botão de pesquisa */

.formdobotaopesquisa {
  text-align: center;
}

input.form-control {
  background: rgba(0, 0, 0, 0.2);
  /* Fundo com baixa opacidade */
  border-radius: 10px;
  width: 80%;
  margin: auto;
  color: white;
  padding: 8px;
  font-size: 15px;
  outline: 2px solid rgba(255, 255, 255, 0.2);
  border: none;
}

#search::placeholder {
  color: white;
  font-weight: 500;
  opacity: 1;
}

/* section 1 */

.style_section {
  width: 100%;
  padding: 5vh 8%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container_image img {
  height: 55vh;
}

/* footer */

footer {
  background: #fff;
  padding: 0 8%;
  width: 100%;
  color: #191a1a;
  border-top: 5px solid #A0C8F9;
}

.container_footer {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

footer p,
.teste {
  text-align: center;
  font-weight: 500;
}

footer p ion-icon {
  background: #272a2f;
  color: #fff;
  padding: 9px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  margin: 0 10px;
  margin-top: 15px;
  border-radius: 4px;
}

footer p a ion-icon:hover {
  background: #fff;
  color: #191a1a;
  transition: 0.5s;
  cursor: pointer;
}

/* section copyright */

.copyright {
  border-top: 3px solid #A0C8F9;
}

.copyright,
.copyright p {
  background: #fff;
  padding: 2px;
  text-align: center;
  color: #191a1a;
}